jupyter
jupyter-contrib-nbextensions
pytest
pytest-cov
mypy
flake8
pandas
openpyxl
matplotlib
japanize-matplotlib
seaborn
PyPDF2
pdfminer.six
python-docx
pydantic
Pillow
tox
pre-commit
pendulum
streamlit